.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  align-items: center;
  height: 45px;
  box-shadow: 0 2px 2px -2px rgb(0 0 0);
  background-color: #ffffff;
.logo {
  height: 50px;
  width: 60px;
}
.links {
  width: 280px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  .link {
    color: #6d6dd6;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      font-size: 20px;
      color: #4646d0;
    }
    &:active {
      text-decoration: underline;
    }
    &:focus {
    }
  }
}
}


@media only screen and (max-width: 600px) {
  .links {
    width: 200px;
  }
}

