.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  align-items: center;
  height: 45px;
  box-shadow: 0 2px 2px -2px rgb(0 0 0);
  background-color: #ffffff;
.logo {
  height: 50px;
  width: 60px;
}
.links {
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  .link {
    color: black;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      text-decoration: underline;
    }
    &:focus {
    }
  }
}
}
