
  .hour-container {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 15px;
    align-items: center;
    margin: 15px;
    color: white;
    .hour {
      font-size: 20px;
      font-weight: 400;
    }
    .hour-icon {
      width: 70px;
      height: 70px;
    }
    .temperature {
      font-size: 24px;
      font-weight: bold;
    }
  }
