/* You can add global styles to this file, and also import other style files */
.light {
  --background:#f4fcfc;
  --background-alt: #a8dadc;
  --foreground: #000000;
  --button-bg: #6faba8;
  --button-text: #f1faee;
  --accent: #0e8185;
  --bodrer: #1111;
  --header: #3c3c3c;
}
.dark {
  --background: #0f2e2c;
  --background-alt: #457b9d;
  --foreground: #f1faee;
  --button-bg: #c1dbda;
  --button-text: #0f2e2c;
  --accent: #84a59d;
  --bodrer: #f5f5f5;
  --header: #ffffff;
}
html, body { height: 100vh !important;}
.root{
    height: 100%;
}
#root {
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
color: var(--foreground);
background-color: var(--background);
}

.button {
 color: var(--button-text);
 background-color: var(--button-bg);
}

h1, p, span {
color: var(--accent);
font-family: sans-serif;
}

a {
  color: var(--accent);
}

div {
 color: var(--accent);
 background-color: var(--foreground);
}

.divider {
  background-color: var(--accent);
}

.header-container {
  background-color: var(--header);
}

